#app, .bg-off-white {
    background: #fffdf7;
}

.text-brand {
    color: #f09e28;
}
.submenu {
    top: 4.5313rem;
}
.drowdown-bg {
    background: #fef3e0;
}
.bg-brand {
    background-color: #f09e28;
}
.bg-brand.lighter {
    background-color: #fef3e0;
}

.border-brand {
    border-color: #f09e28;
}

.border-1 {
    border-width: 1px;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
}

.header-box-shadhow {
    box-shadow: 0px 1px 3px #00000029;
}

.banner-image {
    background: url("./img/profile-banner.png");
    background-size: cover;
}

.nav-link,
.brand-gray {
    color: #4d4d4d;
}

/* .breadcrumbs li {
    list-style-type: disc;
} */
