#app, .bg-off-white {
    background: #fffdf7;
}

.text-brand {
    color: #f09e28;
}
.submenu {
    top: 4.5313rem;
}
.drowdown-bg {
    background: #fef3e0;
}
.bg-brand {
    background-color: #f09e28;
}
.bg-brand.lighter {
    background-color: #fef3e0;
}

.border-brand {
    border-color: #f09e28;
}

.border-1 {
    border-width: 1px;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
}

.header-box-shadhow {
    box-shadow: 0px 1px 3px #00000029;
}

.banner-image {
    background: url("./img/profile-banner.png");
    background-size: cover;
}

.nav-link,
.brand-gray {
    color: #4d4d4d;
}

.tab-button {
    @apply py-2 px-5 rounded-full mr-2 text-sm;
  }
  .tab-button:hover,
  .tab-button.active {
    background: #fef3e0;
    @apply font-bold;
  }
  .breadcrumbs li {
    position: relative;
    @apply flex-initial pr-3 mr-2;
  }
  .breadcrumbs li:first-of-type {
    @apply text-gray-400;
  }
  .breadcrumbs.bulleted li:last-of-type::before {
    background: transparent;
  }
  .breadcrumbs li.fix {
    @apply mr-3;
  }
  .breadcrumbs.bulleted li::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 0;
    top: 6px;
    background: black;
    border-radius: 500px;
  }
  .icon-button {
    background: #f7f7f7;
    @apply p-3 rounded-full mx-1;
  }

/* .breadcrumbs li {
    list-style-type: disc;
} */
